body {
  font-family: 'roboto', sans-serif;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  margin-left: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}
.cat-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-end;
  max-width: 1200px;
}
.cat_text_info {
  padding-left: 20px;
}

.breed-select {
  margin-top: 10px;
  margin-bottom: 20px;
}

.temp_list {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-left: 60px;
  /* display: flex; */
}

#breed_json {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 10px;
}

.cat-name {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 60px;
}
.cat-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-left: 60px;
  display: flex;
  align-items: center;
  width: 600px;
  height: 100%;
}

/* Loader */
.loader {
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-width: 3px 2px 3px 2px;
  border-style: solid dotted solid dotted;
  border-color: #de3500 rgba(255, 255, 255, 0.3) #060606 rgba(151, 107, 93, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #000000;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
